<% switch(status) {
  case 'unvisited' : %>
  <div>
    <form action="/encounter" method="POST">
      <input type="hidden" name="row" value="<%- row %>">
      <input type="hidden" name="difficulty" value="circle">
      <input type="hidden" name="index" value="<%- index %>">
      <input type="image" src="/circle_black.svg" class="w-full" alt="home">
    </form>
  </div>
  <% break;
  case 'chosen' : %>
  <div>
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="circle">
      <input type="image" src="/circle_green.svg" class="w-full" alt="home">
    </form> -->
    <img src="/circle_green.svg" class="w-full" alt="home">
  </div>
  <% break;
} %>