<% switch(status) {
  case 'unvisited' : %>
  <div>
    <form action="/startencounter" method="POST">
      <input type="hidden" name="row" value="<%- row %>">
      <input type="hidden" name="difficulty" value="pentagon">
      <input type="hidden" name="index" value="<%- index %>">
      <input type="image" src="/pentagon_black.svg" class="w-full" alt="home">
    </form>
  </div>
  <% break;
  case 'chosen' : %>
  <div>
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="pentagon">
      <input type="image" src="/pentagon_green.svg" class="w-full" alt="home">
    </form> -->
    <img src="/pentagon_green.svg" class="w-full" alt="home">
  </div>
  <% break;
  case 'notChosen' : %>
  <div>
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="pentagon">
      <input type="image" src="/pentagon_red.svg" class="w-full" alt="home">
    </form> -->
    <img src="/pentagon_red.svg" class="w-full" alt="home">
  </div>
  <% break;
  case 'inactive' : %>
  <div>
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="pentagon">
      <input type="image" src="/pentagon_black.svg" class="w-full" alt="home">
    </form> -->
    <img src="/pentagon_black.svg" class="w-full" alt="home">
  </div>
  <% break;
} %>