<div class="grid grid-cols-5">
  <% var index = 0; %>
  <% var currentRow = row == currentCell.row; %>
  <% arr.forEach((item) => { %>
    <% if (!(active.includes(index))) { %>
      <%- include("./shape", {shape: item.shape, status: "inactive", index: index, row: row, isKidLocation: currentRow && currentCell.index == index}) %>
    <% } else { %>
      <%- include("./shape", {shape: item.shape, status: item.status, index: index, row: row, isKidLocation: currentRow && currentCell.index == index}) %>
    <% } %>
    <% index++; %>
  <% }); %>
</div>
