<div>
  <form action="/encounter" method="POST">
    <input type="hidden" name="difficulty" value="triangle">
    <input type="image" src="/triangle_black.svg" class="w-full" alt="home">
  </form>
</div>