<%- include("templates/headerloggedin", { overflowVariable: '' }) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
  <div class="grid auto-rows-auto gap-y-3 mx-2">
    <div><img src="/defeat.png" class="w-full max-w-md mx-auto" alt="home"></div>
    <div class="text-2xl text-center mx-2">You have been defeated.</div>
    <div>
      
    </div>
    <div class="flex justify-center items-center">
      <a href="/"
        class="px-6 py-3 pixel-button">Back
        to main menu</a>
    </div>
  </div>
<style>
  .help-button {
    display: none;
  }
</style>
<%- include("templates/footer") %>