<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        
        body {
            background-image: url('/indexBG.png'); 
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }

        .modal {
            display: none;
        }
    </style>

</head>
<body class="bg-gray-100">
    <div class="max-w-md mx-auto rounded-lg overflow-hidden">
        <div class="px-4 py-8">
            <div class="text-center">
                <!-- Add outline to the profile picture -->
                <img id="profileImg" class="h-28 w-28 rounded-full bg-white mx-auto border-2 border-gray-500 cursor-pointer" src="<%= userProfilePic %>" alt="Profile Picture" onclick="openModal()">
                <h1 class="text-2xl font-bold mt-4"><%= userName %></h1>
                <p class="text-sm text-gray-600 mt-2">Web Developer</p>
            </div>  
        </div>
    </div>
    
    <div class="flex justify-center mx-auto rounded-lg overflow-hidden mt-8">
            <form action="/addFriend" method="post">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Add as Friend
                </button>
            </form>            
    </div>
    

    <script>
        // Define the userId variable and assign it the value passed from the server
    

    </script>
</body>
</html>
