<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/indexBG.png'); 
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto py-8">
        <h1 class="text-3xl px-4 font-bold mb-4">Friends List</h1>
        <ul class="divide-y divide-black">
            <% if (friendsList && friendsList.length > 0) { %>
                <% friendsList.forEach(friend => { %>
    
                    <li class="text-md text-gray-900 px-4">
                        <button type="submit" class="hover:text-blue-500" onclick="getProfileInfo('<%= friend %>')"><%= friend %></button>
                     </li>
                <% }); %>
            <% } else { %>
                <li class="text-gray-900 px-4">No friends to display</li>
            <% } %>
        </ul>
    </div>
    <script>
        function getProfileInfo(friendName) {
    fetch(`/friendProfile?friendName=${encodeURIComponent(friendName)}`, {
        method: 'GET'
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to get friend profile');
        }
       
        window.location.href = `/friendProfile?friendName=${encodeURIComponent(friendName)}`;
    })
    .catch(error => {
        console.error('Error updating friend profile:', error);
        alert('Failed to load friend profile');
    });
}


    </script>

</body>
</html>


