<script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.39.1/css-doodle.min.js"></script>
<css-doodle class="doodle">
  :doodle {
  --color: rgba(101,0,94,1), rgba(60,132,206,1), rgba(48,238,226,1), rgba(255,25,25,1);

  @grid: 30x1 / 100vw 100vh / #270f34;
  }
  :container {
  perspective: 30vmin;
  --deg: @p(-180deg, 180deg);
  }

  :after, :before {
  content: '';
  background: @p(--color);
  @place: @r(100%) @r(100%);
  @size: @r(6px);
  @shape: heart;
  }

  @place: center;
  @size: 18vmin;

  box-shadow: @m2(0 0 50px @p(--color));
  background: @m100(
  radial-gradient(@p(--color) 75%, transparent 0)
  @r(-20%, 120%) @r(-20%, 100%) / 1px 1px
  no-repeat
  );

  will-change: transform, opacity;
  animation: scale-up 12s linear infinite;
  animation-delay: calc(-12s / @I * @i);

  @keyframes scale-up {
  0%, 95.01%, 100% {
  transform: translateZ(0) rotate(0);
  opacity: 0;
  }
  10% {
  opacity: 1;
  }
  95% {
  transform:
  translateZ(35vmin) rotateZ(var(--deg));
  }
  }

</css-doodle>
<%- include("templates/headerloggedin", { overflowVariable: '' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<button onclick="window.location.href='/easteregganimation'"
        class="mt-16 px-6 py-2 bg-transparent text-white block mx-auto start-font text-2xl md:text-3xl lg:text-4xl xl:text-5xl animate-bounce-slow hover:text-red-600 shadow">Use 1 Diamond to <br> Spin the Gatcha Machine
    </button>
<div class="grid-container mt-10">
    <!-- SVG image for the background -->
    <img src="./easterEgg/gatchaMachine.svg" alt="Gatcha Machine" class="background-image">
</div>
<div id="warningModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
  <div class="bg-white rounded-lg p-8 text-center">
    <h2 class="text-xl basicPixel mb-4">Ah, you've stumbled upon our hidden treasure trove, the Easter Egg! 
      Here, daredevils like yourself can wager your hard-earned diamonds for a shot at even greater riches!
    </h2>
    <div class="flex justify-center space-x-4">
      <button onclick="hideModal()" class="basicPixel px-4 py-2 bg-gray-300 rounded-lg">Exit</button>
    </div>
  </div>
</div>

<style>
    .grid-container {
        position: relative;
        display: grid;
        place-items: center;
        height: 50vh;
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

    @font-face {
    font-family: 'titlefont';
    src: url('startgame.ttf') format('truetype');
    }
  
    .title-font {
    font-family: 'titlefont', sans-serif;
    }
  
    @keyframes bounce-slow {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  
    .animate-bounce-slow {
      animation: bounce-slow 3s infinite;
    }
  
    @font-face {
    font-family: 'startfont';
    src: url('titlefont.ttf') format('truetype');
    }
  
    .start-font {
    font-family: 'startfont', sans-serif;
    }

    .doodle {
      position: fixed;
      top: 0;
      z-index: -1;
    }

    .shadow {
      text-shadow: 4px 4px #000000;
    }

</style>

<%- include("templates/footer") %>

