
    <% if (loggedIn) { %>
        <%- include("templates/headerloggedin") %>
    <%}else{%>
        <%- include("templates/header") %>
    <% } %>

        <div class="fixed inset-0 bg-no repeat bg-right" >
            <img src="/Untitled-3.png" alt="Image" class="w-full h-full object-cover "/>
        </div>
<%- include("templates/footer") %>


