<%- include('templates/header', {overflowVariable: "overflow-hidden" }) %>
    <div class="grid grid-rows-10 h-screen">
        <div class="row-span-7 bg-[url('/backpack.png')] bg-no-repeat bg-contain bg-center">
            <div class="grid grid-cols-4 grid-rows-8 h-full w-full py-6 px-16">
                <% for(let i = 0; i < items.length; i++) { %>
                    <%- include('templates/inventoryItem', {item: items[i]}) %>
                <% } %>
            </div>
        </div>
    </div>