<%- include("templates/header", {overflowVariable: '' , stylesheet: 'fonts.css'}) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
<link href="/tight.css" rel="stylesheet" type="text/css">

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="flex items-center justify-center">
      <h1 class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-black titleFont mt-16">CODECRYPT</h1>
    </div>
    <h2 class="basicPixel mt-6 pb-10 text-center text-2xl text-gray-900">Lets level up together!</h2>

    <form class="pixel-border p-8" action="/loggingin" method="POST" novalidate>
      <input type="hidden" name="remember" value="true">
      <h1 class="basicPixel text-black text-2xl mb-4">Login</h1>
      <div class="rounded-md shadow-sm">
        <div>
          <label for="email" class="sr-only">Email address</label>
          <input type="text" class="form-control basicPixel" id="email" name="email" placeholder="email" required>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control basicPixel" id="password" name="password" placeholder="password" required>
            <p id="loginError" class="hidden text-red-500 text-xs italic">Invalid Email or Password</p>
        </div>
      </div>

      <div class="pt-3 flex items-center justify-between pb-3">
        <div class="text-sm">
          <a href="/forgotPassword" class="tight-sm basicPixel font-light text-xs text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
        </div>
      </div>

      <div>
        <button type="submit"
          class="pixel-button w-full flex justify-center py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Log in
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  var validUser = "<%= success %>";
  console.log(validUser);
  checkValidUser();

  function checkValidUser() {
    const loginError = document.getElementById('loginError');
    if (validUser === 'false') {
      loginError.classList.remove('hidden');
    }
  }

</script>
<%- include("templates/footer") %>