<%- include("templates/header", {overflowVariable: 'overflow-hidden' }) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
<body>
  <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div class="flex items-center justify-center">
        <h1 class="text-6xl md:text-8xl lg:text-10xl xl:text-12xl text-black title-font">CODECRYPT</h1>
      </div>
      <h2 class="mt-6 pb-10 text-center text-3xl font-extrabold text-gray-900">Lets level up together!</h2>

      <form class="bg-white p-8 shadow-md rounded-lg" action="/loggingin" method="POST">
        <input type="hidden" name="remember" value="true">
        <h1 class="text-2xl font-semibold mb-4">Login</h1>
        <div class="rounded-md shadow-sm">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password">
          </div>
        </div>

        <div class="pt-3 flex items-center justify-between">

          <div class="text-sm">
            <a href="/forgotPassword" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
        </div>

        <div>
          <button type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-black hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
<%- include("templates/footer") %>
<style>
  @font-face {
  font-family: 'titlefont';
  src: url('startgame.ttf') format('truetype');
  }

  .title-font {
  font-family: 'titlefont', sans-serif;
  }
</style>