<%- include("templates/header") %>
<div class="grid grid-rows-9 p-2">
  <div class="grid grid-cols-5">
    <div></div>
    <div></div>
    <div><img class="object-contain" src="/hexagon_black.svg" alt="boss"></div>
    <div></div>
    <div></div>
  </div>
  <div class="grid grid-cols-5">
    <div></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div></div>
  </div>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/triangle_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/square_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/pentagon_black.svg" alt="home"></div>
  </div>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
  </div>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/square_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/triangle_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/triangle_black.svg" alt="home"></div>
  </div>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
  </div>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/square_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/triangle_black.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/square_black.svg" alt="home"></div>
  </div>
  <div class="grid grid-cols-5">
    <div></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div></div>
  </div>
  <div class="grid grid-cols-5">
    <div></div>
    <div></div>
    <div><img class="object-contain" src="/circle_black.svg" alt="boss"></div>
    <div></div>
    <div></div>
  </div>
</div>
<%- include("templates/footer") %>