<%- include("templates/header") %>
<div class="container mx-auto">
  <div class="grid-cols-5">
    <img class="object-contain" src="/circle_black.svg" alt="home" class="mx-auto">
  </div>
</div>
<%- include("templates/footer") %>