<%- include("templates/headerloggedinPREM", { overflowVariable: '' }) %>
  <style>
    body {
      background-image: url('/indexBG.png');
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      min-height: 100vh;
    }
  </style>
  <h1 class="text-3xl px-4 font-bold mb-3 mx-auto text-center">Premium Shop</h1>
  <h2 class="text-2xl px-4 font-semibold mb-2 mx-auto text-center">Profile Pictures</h2>
  <div class="grid p-2 max-w-md mx-auto">
    <ul>
      <li class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3 cursor-pointer" onclick="buyPFP('uncommon-2', 300)"
        style="background-image: url('/username-box.png');">
        <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500 cursor-pointer" src="/rare-1.png" alt="profile picture" >
        <span class="text-gray-900 mx-auto text-3xl">
          Gotta Run!
        </span>
        <div class="flex items-center">
          <img src="slotsCurrencyIcon.svg" class="w-6 h-6">
          <span class="ml-1 text-gray-900 text-2xl">400</span>
        </div>
      </li>
      <li class=" pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3 cursor-pointer" onclick="buyPFP('uncommon-1', 300)"
        style="background-image: url('/username-box.png');">
        <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500 cursor-pointer" src="/uncommon-1.png" alt="profile picture" >
        <span class="text-gray-900 mx-auto text-3xl">
          So Fly
        </span>
        <div class="flex items-center">
          <img src="slotsCurrencyIcon.svg" class="w-6 h-6">
          <span class="ml-1 text-gray-900 text-2xl">300</span>
        </div>
      </li>
      <li class=" pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3 cursor-pointer" onclick="buyPFP('uncommon-2', 300)"
        style="background-image: url('/username-box.png');">
        <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500 cursor-pointer" src="/uncommon-2.png" alt="profile picture">
        <span class="text-gray-900 mx-auto text-3xl">
          Wiggle Wiggle
        </span>
        <div class="flex items-center">
          <img src="slotsCurrencyIcon.svg" class="w-6 h-6" >
          <span class="ml-1 text-gray-900 text-2xl">300</span>
        </div>
      </li>
    </ul>
    <h2 class="text-2xl px-4 font-semibold mt-4 mb-2 mx-auto text-center">Profile Titles</h2>
    <ul>
      <li class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-5"
        style="background-image: url('/username-box.png');">
        <span class="text-gray-900 mx-auto text-3xl">
          &#128184 Ballin Aint Easy &#128184
        </span>
        <div class="flex items-center">
          <img src="slotsCurrencyIcon.svg" class="w-6 h-6" onclick="buyTitle()">
          <span class="ml-1 text-gray-900 text-2xl">400</span>
        </div>
      </li>
      <li class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-5"
        style="background-image: url('/username-box.png');">
        <span class="text-gray-900 mx-auto text-3xl">
          &#128142 Shine Bright &#128142
        </span>
        <div class="flex items-center">
          <img src="slotsCurrencyIcon.svg" class="w-6 h-6" onclick="buyTitle()">
          <span class="ml-1 text-gray-900 text-2xl">400</span>
        </div>
      </li>
    </ul>
  </div>
  <%- include("templates/footer") %>
  <script>
    function buyPFP(item, price) {
      fetch('/buyPFP', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          pfp: item,
          price: price
        })
      }).then(res => res.json())
        .then(data => {
          if (data.success) {
            alert("You have successfully purchased this item!");
          } else {
            alert("You do not have enough coins to purchase this item.");
          }
        }).then(() => {
          window.location.reload();
        })
    }

    function buyTitle() {
      alert("You have successfully purchased this item!");
    }
  </script>