<script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.39.1/css-doodle.min.js"></script>
<css-doodle class="doodle">
    :doodle {
    --color: rgba(101,0,94,1), rgba(60,132,206,1), rgba(48,238,226,1), rgba(255,25,25,1);
  
    @grid: 30x1 / 100vw 100vh / #270f34;
    }
    :container {
    perspective: 30vmin;
    --deg: @p(-180deg, 180deg);
    }
  
    :after, :before {
    content: '';
    background: @p(--color);
    @place: @r(100%) @r(100%);
    @size: @r(6px);
    @shape: heart;
    }
  
    @place: center;
    @size: 18vmin;
  
    box-shadow: @m2(0 0 50px @p(--color));
    background: @m100(
    radial-gradient(@p(--color) 75%, transparent 0)
    @r(-20%, 120%) @r(-20%, 100%) / 1px 1px
    no-repeat
    );
  
    will-change: transform, opacity;
    animation: scale-up 12s linear infinite;
    animation-delay: calc(-12s / @I * @i);
  
    @keyframes scale-up {
    0%, 95.01%, 100% {
    transform: translateZ(0) rotate(0);
    opacity: 0;
    }
    10% {
    opacity: 1;
    }
    95% {
    transform:
    translateZ(35vmin) rotateZ(var(--deg));
    }
    }
  
  </css-doodle>

<%- include("templates/headerloggedin", { overflowVariable: '' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

<style>
    /* Apply styles to center everything and fit on the page */
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Your Custom Font', Arial, sans-serif;
        overflow: hidden;
    }

    .doodle {
      position: fixed;
      top: 0;
      z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
        text-align: center;
        text-wrap: wrap;
        margin-bottom: 20px; /* Add spacing */
        max-width: 100%; /* Limit width for better responsiveness */
    }

    form {
        display: flex;
        justify-content: center;
    }

    /* Rainbow throbbing animation */
     @keyframes rainbowThrob {
        0% { color: red; transform: scale(1); }
        50% { color: orange; transform: scale(1.2); }
        100% { color: yellow; transform: scale(1); }
    }

    /* Apply rainbow throbbing animation to h1 */
    .rainbow-throb {
        animation: rainbowThrob 1.5s infinite alternate; /* Rainbow throbbing animation */
    }


    @font-face {
    font-family: 'startfont';
    src: url('titlefont.ttf') format('truetype');
    }
  
    .start-font {
    font-family: 'startfont', sans-serif;
    }
</style>

<div class="container">
    <h1 class="rainbow-throb start-font">
        <p>Oops! You need more Diamonds to spin the machine. Please collect some more and try again..</p>
    </h1>

    <button onclick="window.location.href='/'" class="pixel-button-red py-2 px-7 w-100" style="width: 50%;">
        Main <br> Menu
    </button>
    
   


<%- include("templates/footer") %>
