<%- include("templates/headerloggedin", {overflowVariable: "overflow-hidden" }) %>
<div class="relative z-10">
    <h1 class="flex justify-center text-3xl">Item Shop</h1>
    <div class="grid grid-cols-1 grid-rows-3 m-5">
        <% for(let i=0; i < items.length; i++) { %>
            <%- include('templates/shopItem', {item: items[i]}) %>
        <% } %>
    </div>
</div>
<div class="fixed inset-0 bg-no-repeat bg-right z-0">
    <img src="/shelf.png" alt="Image" class="w-auto h-full object-cover">
</div>
<button onclick="window.location.href='/inventory'">Inventory</button>
<%- include("templates/footer") %>