<%- include("templates/headerloggedin") %>
<h1 class="flex justify-center text-3xl">Item Shop</h1>
<img src="https://picsum.photos/id/101/1920/500">
<div class="grid grid-cols-3 space-x-5">
    <% for(let i = 0; i < items.length; i++) { %>
        <%- include('templates/shopItem', {item: items[i]}) %>
    <% } %>
</div>

<button onclick="window.location.href='/inventory'">Inventory</button>
<%- include("templates/footer") %>