.grid-container {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
}

.gatchaBall {
  width: 50%;
  height: 50%;
  z-index: 1;
  visibility: visible;
}

#player-reward {
  position: absolute;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  opacity: 0;
  /* Initially hidden */
}

#mm-btn {
  z-index: 10;
}

.player-reward img {
  display: block;
  width: 100%;
  height: auto;

}

/* Congratulations text container */
.congratulations-container {
  position: absolute;
  top: 5%;
  /* Adjust position from the top */
  width: 100%;
  text-align: center;
  z-index: 2;
}

/* Congratulations text */
.congratulations {
  padding-top: 5%;
  /* Increase font size */
  font-family: 'startfont', sans-serif;
  /* Custom font */
  animation: rainbowStrobe 2s linear infinite;
  /* Rainbow strobe animation */
}

/* Rainbow strobe animation */
@keyframes rainbowStrobe {
  0% {
    color: red;
  }

  16.666% {
    color: orange;
  }

  33.333% {
    color: yellow;
  }

  50% {
    color: green;
  }

  66.666% {
    color: blue;
  }

  83.333% {
    color: indigo;
  }

  100% {
    color: violet;
  }
}

@font-face {
  font-family: 'startfont';
  src: url('titlefont.ttf') format('truetype');
}

.start-font {
  font-family: 'startfont', sans-serif;
}

.doodle {
  position: fixed;
  top: 0;
  z-index: -1;
}

.shadow {
  text-shadow: 2px 2px #ffffff, 4px 4px #000000;
}

.titleReward {
  text-shadow: 2px 2px 4px white, -2px -2px white;
  border-radius: 50%;
}

.glow {
  box-shadow:
    inset 0px 0px 0px 30px rgb(255, 255, 255, 0.55),
    /* inner white */
    inset 0px 0px 0px 60px rgb(255, 0, 255, 0.55),
    /* middle magenta */
    inset 0px 0px 0px 90px rgb(0, 255, 255, 0.55),
    /* outer cyan */
    0px 0px 60px 15px #fff,
    /* inner white */
    0x 0px 100px 30px #f0f,
    /* middle magenta */
    0px 0px 140px 45px #0ff;
  /* outer cyan */
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow:
      inset 0px 0px 0px 30px rgb(255, 255, 255, 0.8),
      /* inner white */
      inset 0px 0px 0px 60px rgb(255, 0, 255, 0.8),
      /* middle magenta */
      inset 0px 0px 0px 90px rgb(0, 255, 255, 0.8),
      /* outer cyan */
      0px 0px 60px 30px #fff,
      /* inner white */
      0px 0px 100px 60px #f0f,
      /* middle magenta */
      0px 0px 140px 90px #0ff;
    /* outer cyan */
  }
}

.help-button {
  display: none;
}

.basicPixel {
  color: white;
}