@font-face {
  font-family: 'basicPixel';
  src: url('Apple_.ttf') format('truetype');
}

.basicPixel {
  font-family: 'basicPixel', sans-serif;
}

@font-face {
  font-family: 'titleFont';
  src: url('titlefont.ttf') format('truetype');
}

.titleFont {
  font-family: 'titleFont', sans-serif;
  text-shadow: 3px 3px white;
}
