:root {
  --bar-fill: #57e705; /* Default green fill */
  --bar-top: #6aff03;  /* Default green top */
  --bar-fill-left: #57e705; /* Default green fill for left bar */
  --bar-top-left: #6aff03;  /* Default green top for left bar */
  --bar-fill-right: #57e705; /* Default green fill for right bar */
  --bar-top-right: #6aff03;  /* Default green top for right bar */
  --pixel-size: 7;
}

.container {
  width: calc(38px * var(--pixel-size));
  margin: 4em auto;
}

.title {
  width: calc(9px * var(--pixel-size));
  margin-bottom: calc(2px * var(--pixel-size));
  display: block;
}

.healthbar {
  width: calc(38px * var(--pixel-size));
  margin: 0 auto calc(2px * var(--pixel-size)) auto;
  display: block;
}

.healthbar_fill {
  /* width: 100%; */
  fill: var(--bar-fill);
  transition: width 0.1s ease-in, fill 0.2s linear;
}

.healthbar_fill-top {
  fill: var(--bar-top);
}

/* Specific styles for left and right health bars */
#healthbar-left .healthbar_fill {
  fill: var(--bar-fill-left);
}

#healthbar-left .healthbar_fill-top {
  fill: var(--bar-top-left);
}

#healthbar-right .healthbar_fill {
  fill: var(--bar-fill-right);
}

#healthbar-right .healthbar_fill-top {
  fill: var(--bar-top-right);
}