body,
	html {
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Your Custom Font', Arial, sans-serif;
		overflow: hidden;
	}

	.doodle {
		position: fixed;
		top: 0;
		z-index: -1;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	h1 {
		font-size: 20px;
		/* Adjust font size for smaller screens */
		text-align: center;
		text-wrap: wrap;
		margin-bottom: 20px;
		/* Add spacing */
		max-width: 100%;
		/* Limit width for better responsiveness */
	}

	form {
		display: flex;
		justify-content: center;
	}

	/* Rainbow throbbing animation */
	@keyframes rainbowThrob {
		0% {
			color: red;
			transform: scale(1);
		}

		50% {
			color: orange;
			transform: scale(1.2);
		}

		100% {
			color: yellow;
			transform: scale(1);
		}
	}

	/* Apply rainbow throbbing animation to h1 */
	.rainbow-throb {
		animation: rainbowThrob 1.5s infinite alternate;
		/* Rainbow throbbing animation */
	}


	@font-face {
		font-family: 'startfont';
		src: url('titlefont.ttf') format('truetype');
	}

	.start-font {
		font-family: 'startfont', sans-serif;
	}