<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title Here</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=<%= overflowVariable %>>
  <div class="relative z-20">
    <img id="profileImg" class="h-12 w-12 rounded-full bg-white absolute top-0 right-0 mr-4 mt-4 hover:border border-black" src="<%= userProfilePic %>" alt="Profile Picture" onclick="window.location.href='/profile'">
</div>
