<!DOCTYPE html>
<html lang="en">
<link href="/spin.css" rel="stylesheet" type="text/css">
<link href="/hoverglow.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCrypt</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/healthbar.css">
    <link rel="stylesheet" type="text/css" href="/pixelButton.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body class="<%= overflowVariable %>">
  <div class="header pt-5 px-3 relative" style="height: 7vh;">
    <div class="flex justify-between items-center h-full">
      <div>
          <form action="/">
              <input type="submit" class="text-black basicPixel pixel-button-long" value="Back to Main Menu">
          </form>
      </div>
      <div class="flex items-center">
          <% if (gameStarted) { %>
          <div class="flex items-center px-3">
            <img src="coin.png" class="w-10 h-10">
            <span class=" text-3xl basicPixel"><%= playerCoins %></span>
          </div>
          <% } %>
          <div class="flex items-center mr-6">
            <img src="diamond.png" class="w-10 h-10" onclick="clicker()">
            <span class="text-3xl basicPixel"><%= slotsCurrency %></span>
        </div>
        <img class="h-12 w-12 md:h-14 md:w-14 lg:h-16 lg:w-16 rounded-full bg-white border-2 border-gray-500 hover:border-black cursor-pointer" src="<%= userProfilePic %>" alt="Profile Picture" onclick="window.location.href='/profile?from=map'">
      </div>
    </div>
  </div>