<% let string = item.type %>
<div class=" justify-center inline-grid items-center m-auto" onclick='showDialog(<%- JSON.stringify(item) %>)'>
        <img src="<%= item.type %>.png" alt="<%= item.type %>" class="">
</div>